!! ------------------------------------------------------------------------------
!! Import other Configuration from ~/.Xresources.d
!! ------------------------------------------------------------------------------
!#include "/home/dani/.Xresources.d/xautolock"
#include "/home/dani/.Xresources.d/color/gruvbox"
#include "/home/dani/.Xresources.d/urxvt"
#include "/home/dani/.Xresources.d/xterm"
!! ------------------------------------------------------------------------------

!! ------------------------------------------------------------------------------
!! Font Configuration
!! ------------------------------------------------------------------------------
Xft.antialias                        : true
Xft.autohint                         : true
!Xft.dpi                              : 96
!Xft.dpi                              : 1
Xft.lcdfilter                        : lcddefault
Xft.hinting                          : true
Xft.hintstyle                        : hintslight
Xft.rgba                             : rgba
!! ------------------------------------------------------------------------------

!! ------------------------------------------------------------------------------
!! Xcursor theme
!! ------------------------------------------------------------------------------
Xcursor.theme                        : breeze_cursors
Xcursor.size                         : 16
!! ------------------------------------------------------------------------------