!! ------------------------------------------------------------------------------
!! Import other Configuration from ~/.Xresources.d
!! ------------------------------------------------------------------------------
!#include "/home/dani/.Xresources.d/xautolock"
#include "/home/dani/.Xresources.d/color/adaptaColor"
#include "/home/dani/.Xresources.d/urxvt"
#include "/home/dani/.Xresources.d/xterm"
!! ------------------------------------------------------------------------------

!! ------------------------------------------------------------------------------
!! Xft Font Configuration
!! ------------------------------------------------------------------------------
Xft.lcdfilter                   : lcddefault
!Xft.dpi                         : 96
!Xft.dpi                         : 1
Xft.antialias                   : true
Xft.rgba                        : rgb
Xft.hinting                     : true
Xft.autohint                    : false
Xft.hintstyle                   : hintslight
!! ------------------------------------------------------------------------------

!! ------------------------------------------------------------------------------
!! Xcursor theme
!! ------------------------------------------------------------------------------
Xcursor.theme: breeze_cursors
!! ------------------------------------------------------------------------------